<% include header.ejs %>
<!--<form>
	<select name="menu">
		<option value=""></option>
	</select>
</form>-->
<ul>
	<%= dates %>
	<% for (var i in dates) { %>
		<li><%=dates['start_time']%>...<%=dates['endTime']%></li>
	<%};%>
</ul>
<% include footer.ejs %>