<% include header.ejs %>
<!--<form>
	<select name="menu">
		<option value=""></option>
	</select>
</form>-->
<ul>
	<% for (var i=0; i < dates.length; i++) { %>
		<li><%=dates[i].start_time%>...<%=dates[i].endTime%></li>
	<%};%>
</ul>
<% include footer.ejs %>