<% include header.ejs %>
<!--<form>
	<select name="menu">
		<option value=""></option>
	</select>
</form>-->
<ul>
	<% for (var i in dateRanges) { %>
		<li><%=dateRanges[i]['start_time']%>...<%=dateRanges[i]['endTime']%></li>
	<%};%>
</ul>
<% include footer.ejs %>